# Compiled source #
###################
*.com
*.class
*.dll
*.exe
*.o
*.so

# Temporary files #
###################
*.swp
*.swo
*~

# Packages #
############
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip

# Logs #
######################
*.log

# OS files #
######################
.DS_Store*
ehthumbs.db
Icon?
Thumbs.db
*.lock
.java-version

# Editors and frameworks #
######################
.vscode
.metals
