[filter "lfs"]
	smudge = git-lfs smudge --skip %f
	process = git-lfs filter-process --skip
	clean = git-lfs clean -- %f
	required = True
[url "git@github.com:"]
	insteadOf = https://github.com/
[core]
	editor = nvim
	excludesfile = ~/.gitignore
[alias]
	co = checkout
  cob = checkout -b
  bd = branch -D
  cm = commit -S -m
  cs = commit -S
  ci = commit
  st = status
  pmaster = pull origin master
  pmain = pull origin main
  ps = push
  aa = add -A
  amend = commit --amend -m
  upd = ! git pull && git submodule update --recursive
  ls = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate
  ll = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --numstat
  la = "!git config -l | grep alias | cut -c 7-"
# config for delta https://github.com/dandavison/delta
[core]
  pager = delta
[interactive]
  diffFilter = delta --color-only
[delta]
  navigate = true  # use n and N to move between diff sections
  dark = true
[merge]
  conflictstyle = zdiff3
[diff]
  colorMoved = default
[include]
	path = ~/.gitconfig.perso
[include]
	path = ~/.gitconfig.work
[push]
	default = current
[color]
	diff = auto
	status = auto
	branch = auto
[branch]
	sort = -committerdate
[tag]
	sort = version:refname
[help]
	autocorrect = prompt
[rebase]
	autoSquash = true
	autoStash = true
	updateRefs = true
[pull]
	rebase = true
